body {
	background-color: #303030;
	color: white;
	font-family: arial;
}
h4 {
	color: #d2d2d2
}
p {
	color: darkgray;
}
span {
	padding: 7px 25px;
	border-radius: 6px;
	font-weight: bold;
	margin: 10px 5px;
}
div {
	float: center;
}
.look {
	background-color: lightgreen;
}
.im {
	background-color: red;
}
.got {
	background-color: yellow;
}
.click {
	background-color: aqua;
}
.hi {
	background-color: purple;
}
.call {
	background-color: orange;
}